.container {
  display: flex;
  margin-left: auto;
  width: 12.5rem;
}

.quantity,
.decrement,
.increment {
  font-size: 1.5rem;
  height: 3rem;
}

.decrement,
.increment {
  background-color: #008080;
  border: none;
  color: #fff;
  width: 4rem;
}

.quantity {
  width: 4.5rem;
  border: 0.1rem solid #008080;
  text-align: center;
}
