.container {
  display: flex;
}

.button,
.input {
  font-size: 1.5rem;
}

.button {
  background-color: #008080;
  border: 0.1rem solid #008080;
  color: #fff;
  padding: 1rem 2rem;
}

.input {
  border: 0.1rem solid #008080;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
