.input,
.input[disabled]:hover {
  border-bottom: 0.1rem solid #eee;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 1.5rem;
  outline: none;
  padding: 2.5rem 1rem 1rem 1rem;
  transition: all 0.4s ease;
  width: 100%;
}

.input::placeholder {
  color: #c7c7c7;
  font-style: italic;
}

.input:active,
.input:focus {
  border-bottom: 0.1rem solid #006e7d;
  transition: all 0.4s ease;
}

.input:disabled {
  color: #000;
  transition: all 0.4s ease;
}
