.input,
.input[disabled]:hover {
  border-bottom: 0.1rem solid #eee;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  padding: 2.5rem 1rem 1rem 1rem;
  transition: all 0.4s ease;
  width: 100%;
}

.input::placeholder {
  color: #b3b3b3;
}

.input:active,
.input:focus {
  border-bottom: 0.1rem solid #006e7d;
  transition: all 0.4s ease;
}

.input:disabled {
  color: #000;
  background-color: transparent;
  border-bottom: 0.1rem solid #eee;
  transition: all 0.4s ease;
}
