.tr {
  border-bottom: 0.1rem solid #eee;
  border-top: 0.1rem solid #eee;
  color: #b3b3b3;
  height: 5rem;
  text-transform: uppercase;
}

.item {
  width: 70%;
}

.price,
.quantity,
.unitPrice {
  width: 10%;
}

.quantity,
.unitPrice {
  text-align: center;
  width: 20%;
}

.price {
  text-align: right;
}
