.table {
  margin: 2rem 0;
}

.tr {
  animation-duration: 0.5s;
  animation-name: fadeIn;
  height: 7.8rem;
  transition: all 0.5s ease;
}

.none {
  animation-name: fadeOut;
  animation-duration: 0.5s;
}

.deliveryFee {
  text-align: right;
}

@keyframes fadeIn {
  from {
    font-size: 0;
    height: 0;
    opacity: 0;
  }

  to {
    font-size: 1.4rem;
    height: 7.8rem;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    font-size: 1.4rem;
    height: 07.8rem;
    opacity: 1;
  }

  to {
    font-size: 0;
    height: 0;
    opacity: 0;
  }
}
