.tr {
  border-bottom: 0.1rem solid #eee;
  border-top: 0.1rem solid #eee;
  height: 5rem;
  text-transform: uppercase;
}

.total {
  color: #b3b3b3;
  text-align: left;
}

.price {
  text-align: right;
}
