.tr {
  border-bottom: 0.1rem solid #006e7d;
  border-top: 0.1rem solid #006e7d;
  font-weight: 700;
  font-size: 1.6rem;
  height: 3.5rem;
  text-transform: uppercase;
}

.total {
  color: #b3b3b3;
  text-align: left;
}

.price {
  text-align: right;
}
