.tr {
  border-bottom: 0.1rem solid #eee;
  vertical-align: top;
}

.tr:last-child {
  border: none;
}

.tr > td {
  padding: 3rem 0;
}

.li {
  padding-top: 1rem;
}

.quantity,
.unitPrice {
  text-align: center;
}

.totals {
  text-align: right;
}
