.tr {
  border-bottom: 0.1rem solid #eee;
  vertical-align: top;
}

.tr:last-child {
  border: none;
}

.tr > td {
  padding: 2rem 0;
}

.li {
  font-size: var(--font-size-12);
  font-style: var(--italic);
  padding-top: 1rem;
}

.quantity,
.unitPrice {
  text-align: center;
}

.totals {
  text-align: right;
}

@media (min-width: 576px) {
  .li {
    font-size: var(--font-size-13);
  }
}

@media (min-width: 768px) {
  .li {
    font-size: var(--font-size-14);
  }
}

@media (min-width: 992px) {
  .li {
    font-size: var(--font-size-15);
  }
}
