.tr {
  border-bottom: 0.1rem solid #eee;
  vertical-align: top;
}

.tr:last-child {
  border: none;
}

.tr > td {
  padding: 2rem 0;
  font-size: 1.4rem;
  font-weight: 700;
}

.li {
  padding-top: 1rem;
  font-weight: 400;
  font-size: 1.4rem;
}

.quantity,
.unitPrice {
  text-align: center;
}

.totals {
  text-align: right;
}
