.link {
  align-items: center;
  animation-duration: 2s;
  animation-name: fadeIn;
  background-color: #005864;
  border: none;
  color: #fff;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  margin: 0 2rem 0 auto;
  padding: 0 2rem;
  position: relative;
}

.span {
  background-color: #000;
  border-radius: 50%;
  height: 2.25rem;
  position: absolute;
  text-align: center;
  top: 0.5rem;
  width: 2.25rem;
  right: 1rem;
}

.button:disabled {
  opacity: 0.6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
