.button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 1.5rem;
  justify-content: space-between;
  padding: 0;
}

.span {
  background-color: #fff;
  padding: 0.1rem 0;
  width: 2.5rem;
}
