.button,
.button[disabled]:hover {
  background-color: #006e7d;
  border: 0.1rem solid #006e7d;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  transition: all 0.4s ease;
  width: 100%;
}

.button:hover {
  transition: all 0.4s ease;
  background-color: #fff;
  color: #006e7d;
}

.button:disabled {
  opacity: 0.6;
}

/* .button:focus {
  transition: all 0.3s ease;
  background-color: #006e7d;
  border-color: #006e7d;
}

.button:active {
  transition: all 0.3s ease;
  background-color: #006e7d;
  border-color: #006e7d;
}

.button:disabled {
  transition: all 0.3s ease;
  background-color: #006e7d;
  opacity: 0.26;
} */
