.container {
  display: flex;
}

.button,
.input {
  border: 0.1rem solid #006e7d;
}

.button {
  background-color: #006e7d;
  color: #fff;
  padding: 1rem 2rem;
}

.input {
  padding: 1rem;
  text-align: center;
  width: 100%;
}
