* {
  box-sizing: border-box;
  font-family: verdana, sans-serif;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

a,
button,
input,
label,
li,
p {
  font-size: 1.5rem;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

li,
p {
  line-height: 2.25rem;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

@media (min-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  a,
  button,
  label,
  li,
  input,
  p {
    font-size: 1.6rem;
  }
}
