@font-face {
  font-family: 'montserrat';
  src: url('../assets/fonts/montserrat-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'montserrat-semi-bold';
  src: url('../assets/fonts/montserrat-semi-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('../assets/fonts/montserrat-bold.ttf') format('truetype');
}
