:root {
  /* font-families */
  --montserrat: montserrat, sans-serif;
  --montserrat-bold: montserrat-bold, sans-serif;

  /* font-sizes */
  --font-size-28: 2.8rem;
  --font-size-26: 2.6rem;
  --font-size-24: 2.4rem;
  --font-size-22: 2.2rem;
  --font-size-20: 2rem;
  --font-size-18: 1.8rem;
  --font-size-17: 1.7rem;
  --font-size-16: 1.6rem;
  --font-size-15: 1.5rem;
  --font-size-14: 1.4rem;
  --font-size-12: 1.2rem;

  /* font-weights */
  --regular: 400;
  --bold: 700;
}

a,
button,
label,
li,
input,
p,
td {
  font-family: var(--montserrat);
  font-weight: var(--regular);
  font-size: var(--font-size-14);
  line-height: 2.5rem;
}

h1,
h2,
h3,
thead td,
tfoot th {
  font-family: var(--montserrat-bold);
  font-weight: var(--bold);
  line-height: 3rem;
}

h1,
h2,
h3 {
  padding-bottom: 0.5rem;
}

h1 {
  font-size: var(--font-size-22);
}

h2 {
  font-size: var(--font-size-18);
}

h3 {
  font-size: var(--font-size-14);
}

input::placeholder {
  font-style: italic;
}

@media (min-width: 576px) {
  a,
  button,
  label,
  li,
  input,
  p,
  tr {
    font-size: var(--font-size-15);
  }

  h1,
  h2,
  h3 {
    padding-bottom: 0.75rem;
  }

  h1 {
    font-size: var(--font-size-24);
  }

  h2 {
    font-size: var(--font-size-20);
  }

  h3 {
    font-size: var(--font-size-16);
  }
}

@media (min-width: 768px) {
  a,
  button,
  label,
  li,
  input,
  p,
  td,
  tr {
    font-size: var(--font-size-16);
  }

  p {
    line-height: 3rem;
  }

  h1,
  h2,
  h3 {
    padding-bottom: 1rem;
  }

  h1 {
    font-size: var(--font-size-26);
  }

  h2 {
    font-size: var(--font-size-22);
  }

  h3 {
    font-size: var(--font-size-18);
  }
}

@media (min-width: 992px) {
  a,
  button,
  label,
  li,
  input,
  p,
  td,
  tr {
    font-size: var(--font-size-17);
  }

  p {
    line-height: 3.25rem;
  }

  h1,
  h2,
  h3 {
    padding-bottom: 1.25rem;
  }

  h1 {
    font-size: var(--font-size-28);
  }

  h2 {
    font-size: var(--font-size-24);
  }

  h3 {
    font-size: var(--font-size-20);
  }
}
