.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 75rem;
  padding: 2rem;
}

.cart {
  margin: auto;
  max-width: 75rem;
  padding: 2rem;
}

.article {
  padding: 2rem 0;
}

.emptyCart {
  height: calc(100vh - 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyCartTitle {
  color: #b3b3b3;
  font-size: 1.8rem;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
}
