.header {
  align-items: center;
  background-color: #006e7d;
  box-shadow: 0 0.05rem 0.75rem 0.05rem #323232;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.logo {
  color: #fff;
  padding: 0;
}
