.article {
  box-shadow: 0 0.05rem 0.75rem 0.05rem #b3b3b3;
  margin: 2rem 0;
  width: 100%;
}

.header {
  border-bottom: 0.1rem solid #eee;
  padding: 2rem;
}

.title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.flags {
  display: flex;
  padding: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  border-top: 0.1rem solid #eee;
  padding: 2rem;
}

.price {
  padding-left: 2rem;
  text-align: right;
}

.description {
  padding: 2rem;
}

.buttons {
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: space-between;
  max-width: 18rem;
}

.options {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

@media (min-width: 576px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .buttons {
    margin-left: auto;
  }
}
