.container {
  box-shadow: 0 0.05rem 0.75rem 0.05rem #b2b2b2;
  margin: 2rem 0;
  width: 100%;
}

.header {
  border-bottom: 0.1rem solid #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.footer {
  align-items: center;
  border-top: 0.1rem solid #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.price {
  padding-left: 2rem;
}

.description {
  height: 12rem;
  overflow-y: auto;
  padding: 1.5rem;
}
