.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 70rem;
  padding: 2rem;
}

.title {
  padding: 2rem 0;
}

.content {
  width: 100%;
  flex-wrap: wrap;
  padding: 2rem 0;
}
